syntax: glob

_ReSharper*
*.suo
*Publish.xml
Publish
*.sln.cache

Source/**/obj/
Source/**/bin/
Source/**.dotCover
Source/**.user
Source/**/**/obj/
Source/**/**/bin/

*.ncrunchsolution
*.ncrunchsolution.user

Backup
_UpgradeReport_Files
upgradelog.*

bin