<div class="task">
    <h2>Extract and Inline Method</h2>
    
    <p>Open the @Code.Sln("BlogEngine") solution.</p>
    
    <p>
        <ol>
        </ol>
    </p>
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
        </table>
    </div>

</div>