<div class="task">
    <h2>Find Usages</h2>
    
    <p>Open the @Code.Sln("BlogEngine") solution.</p>
    
    <p>
    </p>

    <div class="example">
        <h3>Example - X</h3>
        <p>
        </p>        
    </div>
    
    <div class="primary-shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
        </table>
    </div>

</div>