<div class="task">
    <h2>Generate Code</h2>
    
    <p>Open the @Code.Ref("CodeCollection") class in the @Code.Sln("Basic") solution.</p>
    
    <ul>
        <li>Assign constructor arguments to fields using quick fix.</li>
        <li>Delete constructor</li>
        <li>Create constructor with generate code</li>
        <li>Generate readonly properties for some fields</li>
        <li>Generate properties for the rest</li>
        <li>Create equality members for some of the fields</li>
        <li>Extra: Generate delegating methods for the Add method of the list field.</li>
    </ul>

    <p>
        <ol>
        </ol>
    </p>
    
    <div class="shortcuts">
        <h3>Primary shortcuts</h3>
        <table>
        </table>
    </div>

</div>
