<div class="task">
    <p>
        In the Basic solution - find the Basic.InspectThis project.
    </p>
    <p>
        <kbd>Alt</kbd>+<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>A</kbd> - Inspect this.
    </p>
    <p>
        Remember to dock the inspection window and set up Show Preview on the Right.
    </p>
    <ul>
        <li>Explore the value destination of 'importantValue' in the Main() method.</li>
        <li>Explore the value origin of the 'value' variable in the Main() method.</li>
    </ul>
</div>
