<div class="task">
    <p>
        Navigate to the OutOfOrderMethods class in the Basic solution.
    </p>
    
    <p>
        Reorder the methods alphabetically using move code.
    </p>
    
    @Keys.Shortcut("ACS") + (@Keys.Up() or @Keys.Down())

</div>