<?xml version="1.0"?>

<configuration>
  <location path="EditPage.aspx">
    <system.web>
      <authorization>
      </authorization>
    </system.web>
  </location>
  <location path="Pages.aspx">
    <system.web>
      <authorization>
      </authorization>
    </system.web>
  </location>
</configuration> 
