
#q-notes {
    position: absolute; 
    top: 0;
    width: 100%;
    z-index: 999;
    margin:0;
    left: 0;
}

#q-panel {
	width: 100%;
	height: 135px;
	color: #999999;
    background: #FFF;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
	border-bottom: 2px solid #dedede;
}

#q-panel p { margin: 5px 0; padding: 0; }
#q-panel a { color: #CE3900; }

.q-main {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 1.1em;
}

#q-panel .q-main .left { width: 100%; float: left; padding: 0; }
#q-panel .q-main input[type="text"], #panel .q-main textarea { border: 1px solid #dedede; padding: 5px; color:#555; }

#q-panel .primary {
    color: #38560f; 
    border: 1px solid #78a938; 
    background: #a5d75f url("../admin/images/orange-btn-bkg.png") repeat-x scroll 0 0;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-weight:bold;
    padding: 3px 9px;
    margin-top: 5px;
    margin-right: 5px;
}
    
#q-nav { margin: 0; width: 36px; border: 1px solid #dedede; float: left; }
#q-nav a, #q-nav span { padding: 0; }
#q-nav span { font-weight: bold; color: #666; background: #ccc; }
#q-nav div { padding: 9px; margin: 0; background-color: #f1f1f1; }
#q-nav .sel { border: 1px solid #dedede; }

.q-left { width: 900px; float: right; }

.q-area { width: 890px; border: 1px solid #dedede; height: 62px; padding: 5px; margin-right: 10px; }
#q-listbox { width: 905px; height: 106px; border: 1px solid #dedede; }

#q-toggle { padding: 0 20px 0 0; display: block; height: 14px; width: 20px; float: right; }
.q-tab { height: 18px; }

#selCategory { width: 200px; }
#txtTags { width: 186px; }

.q-info { margin-top: 40px; margin-left: 50px; }
.q-left table { border: 1px solid red; width: 100%; height: 70px; }
.q-set-1 span, .q-set-2 span { width: 180px; display: inline-table; }
.q-submit a { margin-right: 5px; }
.rounded {-moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius: 5px; border-radius:5px; color: #555; border: 1px solid #dedede !important;}

#q-loader { margin-left: 20px; }
.hidden { display:none; }
.loader { width: 24px; height:24px; display:inline-block; border: 0; position:relative; top:5px; background: url('../pics/ajax-loader.gif') 0px 0px no-repeat; }
.success { display: inline-block; color: Green; }
.warning { display: inline-block; color: Red; }