@using BlogEngine.Core
@{
    Security.DemandUserHasRight(BlogEngine.Core.Rights.AccessAdminPages, true);
}
<!DOCTYPE html>
<html>
    <head>
        <title>Tests</title>
        <link href="Quixote.css" rel="stylesheet" type="text/css" />       
    </head>
    <body>     
        <div class="page">
            @RenderBody()
        </div>
    </body>
</html>
