.result
{
   margin-bottom:6px;  
   width:600px;
   margin-left:24px;
   font-size:.8em;
}

h2 { margin: 20px 0 10px 20px; }
.left-padded { margin-left: 20px; }
.test-links a { text-decoration: none; color: #C80000 ; font-size: 1.2em; font-weight: bolder; }
.test-links { list-style-type:square; }
.go-back  
{
    width: 32px;height:32px; display:inline-block; border: 0; margin: 10px 0;
    background: url('back.png') 0px 0px no-repeat;
}

.fail,
.pending, 
.pass    { padding:4px; border: 2px solid #ddd; }
.fail      { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4}
.pending     { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.pass    { background: #E6EFC2; color: #529214; border-color: #C6D880; }

.exception
{
    background-color:#ffffcc;
    padding:22px;
}

textarea.exception-box
{
    border:2px solid #ccc;
    height:90px;
    width:90%;
}