body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

.task {
    border: 1px solid #999;
    padding: 10px 20px;
    margin: 3px;
}

pre {
    background-color: #eee;
    padding: 1em 0 0 1em;
}

span.inline-code {
    background-color: #eee;
    padding: 0;
    display: inline;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

.shortcuts table, .shortcuts td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.shortcuts td {
    padding: 5px 10px;
}

.example {
    background-color: #fefefe;
    border: 1px dashed #ccc;
    padding: 5px 25px;
}

.tip {
    background-color: #fefefe;
    border: 1px dashed #ccc;
    padding: 5px 12px;
}

.hint {
    background-color: #fefefe;
    border: 1px dashed #ccc;
    padding: 5px 12px;
}

kbd
{
    -moz-border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    background-color:#f7f7f7;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:#333;
    display:inline-block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    line-height:1.4;
    margin:0 .1em;
    padding:.1em .6em;
    text-shadow:0 1px 0 #fff;
}