body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

.task {
    border: 1px solid #999;
    padding: 10px 20px;
    margin: 3px;
}

pre {
    background-color: #eee;
    padding: 1em 0 0 1em;
}
