<?xml version="1.0"?>

<configuration>
    <location path="Approved.aspx">
        <system.web>
            <authorization>
            </authorization>
        </system.web>
    </location>
    <location path="Pending.aspx">
        <system.web>
            <authorization>
            </authorization>
        </system.web>
    </location>
    <location path="Pingbacks.aspx">
        <system.web>
            <authorization>
            </authorization>
        </system.web>
    </location>
    <location path="Spam.aspx">
        <system.web>
            <authorization>
            </authorization>
        </system.web>
    </location>
    <location path="Rules.aspx">
        <system.web>
            <authorization>
            </authorization>
        </system.web>
    </location>
    <location path="Settings.aspx">
        <system.web>
            <authorization>
            </authorization>
        </system.web>
    </location>
</configuration>