{#if $T.d.length == 0}
<br />
<div class="info">
    {BlogAdmin.i18n.noBlogsWereFound}
</div>
{#else}
<table id="Blogs" class="beTable rounded" style="width:100%">
    <thead>
        <tr>
            <th width="70" style="text-align:center;">{BlogAdmin.i18n.active}</th>
            <th width="70" style="text-align:center;">{BlogAdmin.i18n.primary}</th>
            <th width="70" style="text-align:center;">{BlogAdmin.i18n.isForSiteAggregation}</th>
            <th width="auto">{BlogAdmin.i18n.name}</th>
            <th width="250">{BlogAdmin.i18n.hostName}</th>
            <th width="180">{BlogAdmin.i18n.textBeforeHostName}</th>
            <th width="180">{BlogAdmin.i18n.virtualPath}</th>
            <th width="220">{BlogAdmin.i18n.storageContainerName}</th>
	        <th width="70">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {#foreach $T.d as b}
        <tr id="{$T.b.Id}" class="{#cycle values=['','alt']}">
            <td style="text-align:center;"><span class="published-{$T.b.IsActive}"></span></td>
            <td style="text-align:center;"><span class="published-{$T.b.IsPrimary}"></span></td>
            <td style="text-align:center;"><span class="published-{$T.b.IsSiteAggregation}"></span></td>
            <td><a href='{$T.b.AbsoluteWebRoot}' target='_blank'><span>{$T.b.Name}</span></a></td>
            <td><span>{$T.b.Hostname}</span></td>
            <td style="text-align:center;"><span class="published-{$T.b.IsAnyTextBeforeHostnameAccepted}"></span></td>
            <td><span>{$T.b.VirtualPath}</span></td>
            <td><span>{$T.b.StorageContainerName}</span></td>
            <td>
                <ul class="rowTools">
                    <li>
                        <a class="toolsAction" href="#"><span class="">{BlogAdmin.i18n.tools}</span></a>
                        <ul class="rowToolsMenu">
                            {#if $T.b.CanUserEdit}<li><a class="editAction" href="#" onclick="return EditBlog(this);">{BlogAdmin.i18n.edit}</a></li>{#/if}
                            {#if $T.b.CanUserDelete}<li><a class="deleteAction" href="#" onclick="return DeleteBlog(this);">{BlogAdmin.i18n.delete}</a></li>{#/if}
                       </ul>
                    </li>
               </ul>
            </td>
        </tr>
        {#/for}
    </tbody>
</table>
{#/if}