
    <h2>{BlogAdmin.i18n.contactDetails}</h2>
    <table class="tblForm">
        <tr>
            <td>
                <label for="txtMobile" class="lbl">{BlogAdmin.i18n.phoneMobile}</label>
                <input type="text" id="txtMobile" class="txt200" value="{$T.d.PhoneMobile}" />
            </td>
            <td>
                <label for="txtCity" class="lbl">{BlogAdmin.i18n.cityTown}</label>
                <input type="text" id="txtCity" class="txt200" value="{$T.d.CityTown}" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="txtMainPhone" class="lbl">{BlogAdmin.i18n.phoneMain}</label>
                <input type="text" id="txtMainPhone" class="txt200" value="{$T.d.PhoneMain}" />
            </td>
            <td>
                <label for="txtState" class="lbl">{BlogAdmin.i18n.regionState}</label>
                <input type="text" id="txtState" class="txt200" value="{$T.d.RegionState}" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="txtFax" class="lbl">{BlogAdmin.i18n.phoneFax}</label>
                <input type="text" id="txtFax" class="txt200" value="{$T.d.PhoneFax}" />
            </td>
            <td>
                <label for="txtCountry" class="lbl">{BlogAdmin.i18n.country}</label>
                <input type="text" id="txtCountry" class="txt200" value="{$T.d.Country}" />
            </td>
        </tr>
    </table>

    <h2>{BlogAdmin.i18n.shortBiography}</h2>
    <div style="margin:0 0 20px;">
        <textarea name="biography" id="biography" rows="5" cols="69" style="width:430px">{$T.d.AboutMe}</textarea>
    </div>