{#if $T.d.length == 0}
<div class="info">
    {BlogAdmin.i18n.youHaveNoTaggedPosts}
</div>
{#else}
<table id="Tags" class="beTable rounded">
  <thead>
    <tr>
      <th width="auto">{BlogAdmin.i18n.tags}</th>
      <th width="120">{BlogAdmin.i18n.posts}</th>
      <th width="120">{BlogAdmin.i18n.count}</th>
	  <th width="120">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {#foreach $T.d as post}
    <tr class="{#cycle values=['','alt']}">
      <td class="editable">{$T.post.TagName}</td>
      <td><a href="../../?tag=/{$T.post.TagName}">{BlogAdmin.i18n.view}</a></td>    
      <td>{$T.post.TagCount}</td>
      <td>
            <ul class="rowTools">
                <li>
                    <a class="toolsAction" href="#"><span class="">{BlogAdmin.i18n.tools}</span></a>
                    <ul class="rowToolsMenu">
                        <li><a href="#" class="editButton editAction">{BlogAdmin.i18n.edit}</a></li>
                        <li><a href="#" class="deleteButton deleteAction">{BlogAdmin.i18n.delete}</a></li>
                    </ul>
                </li>
            </ul>
      </td>
    </tr>
    {#/for}
  </tbody>
</table>
{#/if}
