{#if $T.d.length == 0}
<script type="text/javascript">
$("#recyclebin a").removeClass("full");
$("#recyclebin a").addClass("empty");
</script>
<div class="info" style="margin-top: 10px">
    {BlogAdmin.i18n.trashIsEmpty}
</div>
{#else}
<table id="TrashTable" class="beTable rounded">
  <thead>
    <tr>
	  <th width="20"><input type="checkbox" id="selectall" onclick="toggleAllChecks(this)" /></th>
      <th width="auto">{BlogAdmin.i18n.title}</th>
      <th width="160">{BlogAdmin.i18n.type}</th>
	  <th width="160">{BlogAdmin.i18n.createdOn}</th>
      <th width="80">&nbsp;</th>
	  <th width="80">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {#foreach $T.d as item}
	<tr id="{$T.item.ObjectType}:{$T.item.Id}" class="{#cycle values=['','alt']}">
	  <td><input type="checkbox" name="chk"{$T.item.Id} class="chk"/></td>
      <td>{$T.item.Title}</td>
      <td>{$T.item.ObjectType}</td>
      <td class="editable">{$T.item.Date} {$T.item.Time}</td>
	  <td align="center" style="vertical-align:middle"><a class="deleteAction" href="#" onclick="return ProcessTrash('Purge', '{$T.item.ObjectType}:{$T.item.Id}')">{BlogAdmin.i18n.purge}</a></td>
	  <td align="center" style="vertical-align:middle"><a class="approveAction" href="#" onclick="return ProcessTrash('Restore', '{$T.item.ObjectType}:{$T.item.Id}')">{BlogAdmin.i18n.restore}</a></td>
    </tr>
    {#/for}
  </tbody>
</table>
{#/if}

{#if $T.d.length > 0}
<div class="action_buttons">
    <input type="submit" id="btnRestoreSelected" class="btn" value="{BlogAdmin.i18n.restoreSelected}" onclick="return ProcessTrash('Restore', 'Selected');" />&nbsp;
    <input type="submit" id="btnPurgeSelected" class="btn" value="{BlogAdmin.i18n.purgeSelected}" onclick="return ProcessTrash('Purge', 'Selected');" />&nbsp;&nbsp;
    <input type="submit" id="btnPurgeAll" class="btn" value="{BlogAdmin.i18n.purgeAll}" onclick="return ProcessTrash('Purge', 'All');" />&nbsp;
    <span id="AjaxLoader">&nbsp;</span>
</div>
{#else}