{#if $T.d.length == 0}
<div class="info">
    {BlogAdmin.i18n.youHaveNotAddedAnyUserSoFar}
</div>
{#else}
<table id="UserService" class="beTable rounded">
  <thead>
    <tr>
	  <th width="20"><input type="checkbox" id="selectall" onclick="toggleAllChecks(this)" /></th>
      <th width="220">{BlogAdmin.i18n.name}</th>
	  <th width="auto">{BlogAdmin.i18n.email}</th>
	  <th width="120">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {#foreach $T.d as post}
	<tr class="{#cycle values=['','alt']}">
	  <td><input type="checkbox" name="chk"{$T.post.UserName} class="chk"/></td>
      <td class="username">{$T.post.UserName}</td>
      <td class="editable">{$T.post.Email}</td>
      <td>
            <ul class="rowTools">
                <li>
                    <a class="toolsAction" href="#"><span class="">{BlogAdmin.i18n.tools}</span></a>
                    <ul class="rowToolsMenu" id="users">
                        <li><a href="#" class="editButton editAction">{BlogAdmin.i18n.edit}</a></li>
                        <li><a href="#" id="del-{$T.post.UserName}" class="deleteButton deleteAction">{BlogAdmin.i18n.delete}</a></li>
                        <li><a class="profileAction" href="Profile.aspx?id={$T.post.UserName}">{BlogAdmin.i18n.profile}</a></li>
                    </ul>
                </li>
            </ul>
      </td>
    </tr>
    {#/for}
  </tbody>
</table>
{#/if}