
@helper RenderFile(string path) {
    <pre>
    @foreach(var line in File.ReadAllLines(HttpContext.Current.Server.MapPath(path)))
    {
        @(line + Environment.NewLine)
    }
    </pre>
}

@helper ShortcutRef(string name)
{
    <span class="shortcut">[ @name ]</span>
}